h1 {
  color:#000;
}

#player {
  background-color: #fff;
  height: 30%;
  width: 40%;
  position:'relative';
  border-radius: 2px;
  border-color: #000;
  border-width: 3px;
  top: 100px;
  left: 120px;
}

.playerInfo {
  background-color: #fff;
  position: relative;
  height:240px;
  width: 210px;
  top: 30px;
}

.stat_info {
  background-color: #fff;
  height: 620px;
  width: 900px;
  position: absolute;
  left: 220px;
  top: 170px;
}

#player p{
  margin-top: 2px;
}

.tooltip {
	position: absolute;
	opacity:0.8;
	z-index:1000;
	text-align:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	padding:8px;
	color:#fff;
	background-color:#000;
	font: 12px sans-serif;
	max-width: 300px;
}

.bar {
  fill: #69b3a2;
}

.bar:hover {
  fill: #4d8074;
}

.displayNone {
    display: none;
}
.displayBlock {
   display: block;
}
.displayInlineBlock {
   display: inline-block;
}
