h1 {
  color:#f00;
}

#player {
  background-color: #00f;
  height: 30%;
  width:20%;
  position:'relative';
  border-radius: 2px;
  border-color: #000;
  border-width: 3px;
  top: 100px;
  left: 120px;
}

#player p{
  margin-top: 2px;
}
